{% extends "base.html" %}
{% block content %}
  <h3>Model</h3>
  <p>{{ tbl | safe }}</p>
  <h3>Training set: Statistical results</h3>
  <table>
    <tr>
      <th>No. samples</th>
      <th>TP</th>
      <th>TN</th>
      <th>FP</th>
      <th>FN</th>
      <th>Accuracy</th>
      <th>MCC</th>
      <th>F1 score</th>
      <th>Recall score</th>
      <th>ROC score</th>
    </tr>
    <tr>
      <td>{{ trsize }}</td>
      <td>{{ tptr | round (3)}}</td>
      <td>{{ tntr | round (3)}}</td>
      <td>{{ fptr | round (3)}}</td>
      <td>{{ fntr | round (3)}}</td>
      <td>{{ acctr | round (3)}}</td>
      <td>{{ mcctr | round (3)}}</td>
      <td>{{ f1tr | round (3)}}</td>
      <td>{{ rctr | round (3)}}</td>
      <td>{{ roctr | round (3)}}</td>
    </tr>
  </table>
  <h3>Equation</h3>
  <h4>{{ eq }}</h4>
  <h5>Maximum intercorrelation (Pearson r) between two descriptors: {{ mc | round(3) }}</h5>
  <a href="/correlmatrix">Correlation Matrix</a>
  

  <a href="/resultsTR">Training set predicted results</a>
  <h3>Test set: Statistical results</h3>
  <table>
    <tr>
      <th>No. samples</th>
      <th>TP</th>
      <th>TN</th>
      <th>FP</th>
      <th>FN</th>
      <th>Accuracy</th>
      <th>MCC</th>
      <th>F1 score</th>
      <th>Recall score</th>
      <th>ROC score</th>
    </tr>
    <tr>
      <td>{{ trsize }}</td>
      <td>{{ tpts | round (3)}}</td>
      <td>{{ tnts | round (3)}}</td>
      <td>{{ fpts | round (3)}}</td>
      <td>{{ fnts | round (3)}}</td>
      <td>{{ accts | round (3)}}</td>
      <td>{{ mccts | round (3)}}</td>
      <td>{{ f1ts | round (3)}}</td>
      <td>{{ rcts | round (3)}}</td>
      <td>{{ rocts | round (3)}}</td>
    </tr>
  </table>
<a href="/resultsTS">Test set predicted results</a><br>
<a href="/plot_desc.png">Check plot for standardized coefficients</a>
<a href="/plot_corr.png">Check plot for correlation matrix</a>
<a href="/plot_roc.png">Check plot for ROC curve</a>

{% endblock %}
